# Ambiente virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.log
*.tmp

# Modelos treinados
data/processed/*.pkl

# Dataset processado gerado pelos notebooks
data/processed/*.csv